@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expandHeight {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
.animate-fadeIn{
  animation: fadeIn 1s ease forwards;
  opacity: 1;
}

.transition-panel {
  max-height: 1000px;
  opacity: 1;
  animation: expandHeight 3s ease forwards;
  overflow: hidden;
}